:root {
  --pri: #03091E;
    --color-1: #8a4e37;
    --color-2: #2e537b;
    --color-3: #0b1d5f;
    --color-4: #340961;
    --color-5: #063543;
}


@font-face {
  font-family: "Clash";
  src: url("font/ClashGrotesk-Variable.ttf"); /* Modern Browsers */
}

body {
  top: 0px !important;
  background: var(--pri);
  color: #fff;
  font-family: Clash;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
    overflow: hidden;
}

.top-bg{
    position: absolute;
    z-index: -1;
    top: -100px;
    left: 0;
}


.bg {
    opacity: .5;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.bg-1 {
    background-image: radial-gradient(closest-side, #8a4e37, var(--pri));
}
.bg-2 {
    background-image: radial-gradient(closest-side, #2e537b, var(--pri));
}
.bg-3 {
    background-image: radial-gradient(closest-side, #09184f, var(--pri));
    position: absolute;
    width: 900px;
    height: 900px;
    top: 0;
    left: 20%;
    opacity: 1;
}
.bg-4 {

    background-image: radial-gradient(closest-side, #340961, var(--pri));
    position: absolute;
    width: 500px;
    height: 500px;
    top: -100px;
    left: 20%;
    opacity: 1;

}
.bg-5 {
    background-image: radial-gradient(closest-side, #063543, var(--pri));
    position: absolute;
    width: 500px;
    height: 500px;
    top: -200px;
    left: 0;
    opacity: 1;

}

.transition {
    transition: 0.4s;
}

img {
  width: 100%;
}

.logo {
  max-width: 150px;
}

.nav-link,
.btn {
  color: #fff !important;
  outline: none;
}

.btn:focus {
  box-shadow: none;
}

.curve-border {
  padding: 8px 16px 8px 16px;
  border-radius: 15px 0px 15px 0px;
  border: 1px solid #fff;
}

/* Hero */
#home,
#service,
.services,
.service-cards,
#info {
  margin-top: 5rem;
}



.hero-text {
  /* font-family: Clash Grotesk Variable; */
  font-size: 120px;
  line-height: 1;
}

.text-2 {
  padding-left: 100px;
}

.text-3 {
  text-align: right;
}

.caption {
  font-size: 1rem !important;
  mix-blend-mode: normal !important;
  margin-top: 5rem;
  max-width: 400px;
}

/* Service */
.service-text {
  font-size: 45px;
  line-height: 1.2;
  text-align: justify;
}

.service-items {
  list-style: none;
  padding: 0;
}

.service-item {
  font-size: 10vw;
  font-weight: 500;
  line-height: 1.2;
  transition: transform 0.3s, opacity 0.3s, filter 0.3s;
  transform: scale(0.8);
  opacity: 0.5;
  filter: blur(3px);
}

.service-cards {
  min-height: 700px;
}

.service-card {
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.card-text {
  font-size: 35px;
}

.card-2 {
  align-self: center;
}

.card-3 {
  align-self: flex-end;
}

#info {
  background: url('images/img.png') center center/cover no-repeat fixed;
  background-color: #000515;
}

#info .hero-text {
    padding-top: 5rem;
    font-weight: 500;
    background: #000515;
    mix-blend-mode: darken; 
    position: relative;
    z-index: 1;
}

.background {
    background: #000515;
    padding-bottom: 5rem;
}



/* Footer */
footer {
  padding-top: 5.5rem;
  padding-bottom: 3rem;
}


.input {
  border: none;
  outline: none;
  color: #fff;
}

.footer {
  padding-top: 2rem;
}

@media (min-width: 1201px) {
  .container-fluid {
    max-width: 1800px !important;
  }
  .container {
    max-width: 1350px !important;
  }
}

@media (max-width: 1200px) {
    .hero-text {
        font-size: 100px;
    }

    .bg-3 {
        left: 0;
    }
 }

@media (max-width: 992px) {
    body {
        font-size: 14px;
    }
  .container {
    max-width: 1200px !important;
  }

  .hero-text {
    font-size: 80px;
  }
  .service-text {
    font-size: 35px;
  }

  .service-item {
    font-size: 80px;
  }

  .service-card {
    min-height: 300px;
    max-width: 500px;
    margin: auto;
  }

  .card-text {
    font-size: 24px;
  }
  .text-2 {
    padding-left: 3rem;
  }

  .bg-4 {
    top: 100px;
  }
  .bg-3 {
    width: 600px;
    height: 600px;
  }
}

@media (max-width: 768px) { 
    .hero-text {
    font-size: 60px;
  }
 }

@media (max-width: 576px) {


  .service-text {
    font-size: 28px;
  }
  .service-item {
    font-size: 35px;
  }

  .text-2 {
    padding-left: 2rem;
  }

  .caption {
    margin-left: 0;
    font-size: 1.3rem !important;
  }

  .bg-1,
  .bg-2,
  .bg-3,
  .bg-4,
  .bg-5 {
    width: 300px;
    height: 300px;
  }

  .bg-2 {
    display: none;
  }


 }

 /* For most browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

[id=":0.targetLanguage"] ~ span {
    display: none;
    color: transparent;
    visibility: hidden;
  }
  
  [id=":1.container"] {
   display: none;
  }
  
  .VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none;
  }
  
  
  .goog-te-gadget .goog-te-combo {
    padding: 0.5rem 1rem !important;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    background-color: transparent;
    color: #fff;
    line-height: 1.5;
    border-color: #fff;
    outline: none;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 15px 0px 15px 0px;
    border: 1px solid #fff;
  }
  .goog-te-gadget .goog-te-combo option {
    color: #333;
  }
  
  .VIpgJd-ZVi9od-ORHb-OEVmcd,
  .jsx-437803386  {
    display: none;
  }
  
  div.eapps-widget {
    position: fixed !important;
    bottom: 0;
    z-index: 2;
  }
  
.modal-btn {
  background-color: var(--pri);
  color: #fff;
}

.btn:hover,
.nav-link {
  opacity: 0.8;
  transition: 0.4s;
}

.btn:active,
.nav-link:active {
  transform: scale(1.1);
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(150px);
  transition: 0.5s;
}

.show-cookies {
transform: translateY(0px);
}

.page {
  margin-top: 7rem !important;
}

.page h1 {
   font-size: 42px;
}

.page p {
  color: #b3b3b3;
}

.alert {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  z-index: 10000;
}

.show-alert {
 display: block;
}